.Rhistory
.RData
.DS_Store
.Rproj.user/
.quarto/
_freeze/
/.cache/
/renv/library/
/renv/staging/
data/raw/
data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep
docs/.quarto/


/.quarto/
**/*.quarto_ipynb
